.mui-slider 
.mui-slider-group .mui-slider-item a img{
    width: 100%;
}
.lt_title,.lt_price,.lt_size,.lt_num{
    padding: 15px 5px;
    border-bottom: 1px solid #ccc;
}
.lt_price,.lt_size,.lt_num{
    padding: 10px 5px;
    font-size: 12px;
}
.lt_num .num_sy{
    margin-left: 10px;
}
.num_sy .sy{
    padding: 0;
    margin: 0;
}
.lt_price .price{
    color: #f44336;
    font-size: 20px;
}
.lt_price s{
    margin-left: 10px;
    color: #ccc;
}
.lt_size{
    overflow: hidden;
}
.lt_size span{
    float: left;
}
.lt_size ul{
    overflow: hidden;
    float: left;
}
.lt_size ul li{
    margin-left: 5px;
    width: 20px;
    height: 20px;
    float: left;
    border: 1px solid #ccc;
    text-align: center;
}
.lt_size ul li.active{
    background-color: #f35906;
    color: #fff;
}
.lt_num{
    overflow: hidden;
}
.lt_num span,.lt_num>div{
    float: left;
}
.lt_num button{
    float: left;
    padding: 0;
    line-height: 20px;
    height: 20px;
    width: 25px;
    border-radius: 0;
}
.lt_num input{
    float: left;
    width: 30px;
    height: 20px;
    margin: 0;
    padding: 0 5px;
    border-left: 0;
    border-right: 0;
    border-radius: 0;
    text-align: center;
}
.lt_num .num_sy{
    margin-left: 10px;
}
.lt_container .lt_footer{
    height: 45px;
    background-color: #eae9e9;
}
.lt_footer .icon_cart{
    float: left;
}
.lt_footer a{
    width: 50px;
    height: 45px;
    padding: 0;
    line-height: 45px;
    color: #333;
}
.lt_footer .foot_btn{
    height: 45px;
    line-height: 45px;
    padding: 0 5px 0 50px;
    text-align: center;
}
.lt_footer .foot_btn button{
    vertical-align: middle;
    font-size: 12px;
    width: 48%;
    color: #fff;
    font-weight: 600;
}
.lt_footer .foot_btn .join_cart{
    background-color: #b00202;
}
.lt_footer .foot_btn .join_buy{
    background-color: #f35906;
}